@import url();


/*ESTILO GLOBAL */
body.dark-bg {
    background-image: url('../assets/img/fundo.png');

    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;

    color: #eaeaea;
    margin: 0;
    font-family: 'Segoe UI', sans-serif;
}

.rodape {
    background-color: rgba(137, 43, 226, 0.489);
    color: black;
    font-family: monospace;
    margin-left: auto;
    padding: auto;
    text-align: center;
}

.glass {
    background: rgba(255, 255, 255, 0.04);
    backdrop-filter: blur(8px);
    border: 1px solid rgba(255, 255, 255, 0.1);
    box-shadow: 0 0 25px rgba(0, 0, 0, 0.5);
    border-radius: 12px;

}


.navbar {
    padding: 15px 30px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.nav-link {
    color: aliceblue;
    padding: 15px 30px;
    font-family: sans-serif;
    padding: 13px 23px;
    border-radius: 8px;
    text-decoration: none;
    font-weight: bold;
    transition: 0.3s;
}

.logo span {
    color: #e11be4;
    /* vinho escuro */
}


.hero-container {
    height: 80vh;
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;

}

.hero-container h2 {
    font-size: 42px;
    margin-bottom: 15px;
}

/*BOTÕES*/
.btn-primary {
    background: #10103d;
    padding: 13px 23px;
    border-radius: 8px;
    text-decoration: none;
    color: white;
    font-weight: bold;
    transition: 0.3s;

}

.btn-primary:hover {
    filter: opacity(40%);
}

.btn-secondary {
    background: #222;
    border: 1px solid #444;
    padding: 10px 20px;
    border-radius: 6px;
    color: white;
    cursor: pointer;
}

.full {
    width: 100%;
}

/*FORMULÁRIOS*/
.form-box {
    width: 350px;
    padding: 50px;
    margin: 90px auto;
    text-align: auto;

}

.input-dark {
    background: rgba(255, 255, 255, 0.06);
    border: 1px solid #333;
    padding: 12px;
    width: 93%;
    border-radius: 6px;
    color: white;
    margin: 10px 0;
    position: center;
}

/* DASHBOARD  */
.dashboard-area {
    padding: 40px;
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 25px;
}

.livro-item {
    background: rgba(255, 255, 255, 0.08);
    padding: 12px;
    border-radius: 6px;
    margin-bottom: 10px;
}

@media (max-width: 768px) {
    body.dark-bg {
        background-image: url('../assents/img/.png');
        background-size: cover;
        background-position: center;
        background-attachment: fixed;
    }

    body.dark-bg {
        font-size: 16px;
        padding: 0 10px;
    }

    .container {
        width: 100%;
        padding: 10px;
        box-sizing: border-box;
    }

    h1,
    h2,
    h3 {
        text-align: center;
        line-height: 1.3;
    }

    button {
        width: 100%;
        padding: 12px;
        font-size: 1.1rem;
    }
}