body {
    margin: 0;
    font-family: Arial, sans-serif;
    background: #f0f0f0;
}

header {
    background: #5a2f86;
    padding: 15px;
    color: white;
    display: flex;
    justify-content: space-between;
}

header nav a {
    color: white;
    margin-left: 15px;
    text-decoration: none;
    font-weight: bold;
}

.hero {
    text-align: center;
    padding: 80px 20px;
}

.btn {
    background: #5a2f86;
    color: white;
    padding: 10px 20px;
    border-radius: 6px;
    text-decoration: none;
    display: inline-block;
    margin-top: 15px;
}

.form-container {
    background: white;
    width: 320px;
    margin: 60px auto;
    padding: 25px;
    border-radius: 10px;
    box-shadow: 0 0 10px #aaa;
}

form input {
    width: 100%;
    padding: 10px;
    margin: 8px 0;
}

.dashboard {
    padding: 20px;
}

.lista-livros {
    margin-top: 15px;
}

.livro-item {
    background: white;
    padding: 10px;
    margin-bottom: 10px;
    border-radius: 8px;
}
